@{
    ViewBag.Title = "下载";
}

<div class="container">
    <div id="wp" class="wp">
        <div class="main">
            <div class="download">
                <div class="banner-title">游戏下载</div>
                <div class="banner-content">您可以选择下载登录器，通过登录器在线下载完整游戏程序，或直接从网盘下载完整游戏内容。</div>
                <div>
                    <table class="download-table">
                        <tr>
                            <td>更新时间</td>
                            <td>2019年9月16日</td>
                        </tr>
                        <tr>
                            <td>客户端版本</td>
                            <td>2.4.3.8606</td>
                        </tr>
                        <tr>
                            <td>兼容平台</td>
                            <td>Windows</td>
                        </tr>
                        <tr>
                            <td>登录器大小</td>
                            <td>6.90MB</td>
                        </tr>
                        <tr>
                            <td>游戏客户端</td>
                            <td>8.80GB（含登录器）</td>
                        </tr>
                        <tr>
                            <td>最低硬件</td>
                            <td>Intel Core 2 Duo / NVIDIA GeForce 8800 / 2GB RAM</td>
                        </tr>
                        <tr>
                            <td>推荐硬件</td>
                            <td>Intel Core i5 / NVIDIA GeForce GTX 960 / 4GB RAM</td>
                        </tr>
                    </table>
                </div>
                <div class="banner-buttons">
                    <a class="large-button" target="_blank" href="/download/launcher">下载登录器</a>
                    <a class="large-button special" target="_blank" href="https://pan.baidu.com/s/1FWYELBLahPGB7b22kC752w">下载完整版客户端<br /><small>提取码：nf59</small></a>
                </div>
            </div>
            <div class="download2">
                <div class="banner-title">简易登录器</div>
                <div class="banner-content">已有客户端或登录有问题？使用简易登录器！</div>
                <div>
                    <pre>echo y | rd /s "Cache"
attrib realmlist.wtf -s -h -r
echo SET realmlist "realm.wowtbc.org:3724" >realmlist.wtf
echo SET realmlist "realm.wowtbc.org:3724" >data/zhtw/realmlist.WTF
echo SET realmlist "realm.wowtbc.org:3724" >data/zhcn/realmlist.WTF
if Exist "wow.exe" (
        start wow.exe

        exit)
exit</pre>
                </div>
                <div>确保您的客户端为2.4.3.8606版本</div>
                <div>在Wow.exe目录下建立"登录器.cmd"，将如下内容粘贴后运行</div>
                <div>或直接下载简易登录器至Wow.exe目录中运行</div>
                <div class="banner-buttons">
                    <a class="large-button" target="_blank" href="/download/launchercmd">下载登录器.cmd</a>
                </div>
            </div>
        </div>
    </div>
</div>
