@{
    ViewBag.Title = "下载";
}

<div class="container">
    <div id="wp" class="wp">
        <div class="main">
            <div class="download">
                <div class="banner-title">游戏下载</div>
                <div class="banner-content">您可以选择下载登录器，通过登录器在线下载完整游戏程序，或直接从网盘下载完整游戏内容。</div>
                <div>
                    <table class="download-table">
                        <tr>
                            <td>更新时间</td>
                            <td>2019年9月16日</td>
                        </tr>
                        <tr>
                            <td>客户端版本</td>
                            <td>2.4.3.8806</td>
                        </tr>
                        <tr>
                            <td>兼容平台</td>
                            <td>Windows</td>
                        </tr>
                        <tr>
                            <td>登录器大小</td>
                            <td>6.90MB</td>
                        </tr>
                        <tr>
                            <td>游戏客户端</td>
                            <td>8.80GB（含登录器）</td>
                        </tr>
                        <tr>
                            <td>最低硬件</td>
                            <td>Intel Core 2 Duo / NVIDIA GeForce 8800 / 2GB RAM</td>
                        </tr>
                        <tr>
                            <td>推荐硬件</td>
                            <td>Intel Core i5 / NVIDIA GeForce GTX 960 / 4GB RAM</td>
                        </tr>
                    </table>
                </div>
                <div class="banner-buttons">
                    <a class="large-button" target="_blank" href="/download/launcher">下载登录器</a>
                    <a class="large-button special" target="_blank" href="https://pan.baidu.com/s/1gO7vC8PMrW5iU97yYvQ3Zg">下载完整版客户端<br /><small>提取码：sdv7</small></a>
                </div>
            </div>
        </div>
    </div>
</div>
