<div class="banner">
    <div class="banner-title">燃烧的远征怀旧服现已开启</div>
    <div class="banner-content">黑暗之门再一次被开启……重返外域那段逝去的时光，再次经历那些定义了这个战争世界的经典故事。现在注册账号，重新开启燃烧的远征。</div>
    <div class="banner-buttons">
        <a asp-controller="Download" asp-action="Index" class="large-button">下载登录器</a>
        <a asp-controller="Account" asp-action="Register" class="large-button">注册账号</a>
    </div>
</div>