@{ 
    ViewBag.Title = "用户中心";
}
<div class="container">
    <div id="wp" class="wp">
        <div class="main">
            @await Html.PartialAsync("_HomeNav")
            <div class="right">
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
