@{
    ViewBag.Title = "注册";
}

<div class="container">
    <div id="wp" class="wp">
        <div class="main">
            <form class="register" method="post">
                <div class="banner-title">登录</div>
                <div class="register-form-item" style="margin-top: 50px">
                    <label>
                        用户名
                        <input type="text" name="username" autocomplete="off" class="register-textbox" />
                    </label>
                </div>
                <div class="register-form-item">
                    <label>
                        密码
                        <input type="password" name="password" autocomplete="off" class="register-textbox" />
                    </label>
                </div>
                <div class="banner-buttons" style="margin-top: 50px">
                    <input type="submit" class="large-button" value="登录" />
                </div>
            </form>
        </div>
    </div>
</div>
