@{ 
    ViewBag.Title = "修改密码 - 用户中心";
    Character character = ViewBag.Character;
}
<div class="container">
    <div id="wp" class="wp">
        <div class="main">
            <div class="left2">
                <div class="account-main">
                    <div class="account-title">修改密码</div>
                    <div>您可以在这里同时重设门户网站以及游戏内的密码。</div>
                    <form method="post">
                        <div class="account-form">
                            <div class="register-form-item">
                                <label>
                                    当前密码
                                    <input type="password" name="password" autocomplete="off" class="register-textbox" />
                                </label>
                            </div>
                            <div class="register-form-item">
                                <label>
                                    新密码
                                    <input type="password" name="newpwd" autocomplete="off" class="register-textbox" />
                                </label>
                            </div>
                            <div class="register-form-item">
                                <label>
                                    密码重复
                                    <input type="password" name="confirm" autocomplete="off" class="register-textbox" />
                                </label>
                            </div>
                        </div>
                        <input type="submit" value="重置密码" class="large-button" />
                    </form>
                </div>
            </div>
            @await Html.PartialAsync("_AccountNav")
            <div class="clear"></div>
        </div>
    </div>
</div>